<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>

    <style >
        .css{
            margin-left: 80px;
            border-radius: 10px;
        }
    </style>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body style="background-color: #AFEEEE">

 <nav th:replace="~{home :: navbarHome}"></nav>

 <div class="row container-fluid">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 mb-4 mt-5"  style="margin-top: 100px" >
        <h5 th:if="${msg != null}" th:text="${msg}" class="text-danger"></h5>
        <form class="text-dark bg-light justify-content-center align-items-lg-center bg-secondary" style="box-shadow: 10px 10px black; border-radius: 10px; border: 10px"
              action="/addCustomer" method="post" th:object="${customerDto}">
            <h5 class="text-lg-center"> ADD NEW CUSTOMER </h5>
            <div  class="css">
                <label>Name </label>
                <input type="text" class="form-control rounded-3 w-75"  name="name" placeholder="Name" th:field="*{name}" >
                <div class="text-danger mt-2" th:errors="*{name}"> </div>

            </div>
            <div  class="css">

                <label>DayOfBirth </label>
                <input type="date" class="form-control rounded-3 w-75" name="birth" placeholder="DayOfBirth" th:field="*{date}">
                <div class="text-danger mt-2" th:errors="*{date}"></div>

            </div>

            <div  class="css mt-2">
                <label>Gender</label>
                <select name="gender" th:field="*{gender}" class="form-control rounded-3 w-75">
                    <option value="true">Nam</option>
                    <option value="false">Nu</option>
                </select>
            </div>

            <div  class="css">
                <label>ID Card</label>
                <input type="text" class="form-control rounded-3 w-75" name="iden" placeholder=" ID Card " th:field="*{id}" >
                <div class="text-danger mt-2" th:errors="*{id}"></div>

            </div>

            <div  class="css" >
                <label>Phone</label>
                <input type="text" class="form-control rounded-3 w-75" name="phone" placeholder="Phone" th:field="*{phone}">
                <div class="text-danger mt-2" th:errors="*{phone}"></div>
            </div>
            <div  class="css" >
                <label>Email</label>
                <input type="text" class="form-control rounded-3 w-75" placeholder="Email" th:field="*{email}" >
                <div class="text-danger mt-2" th:errors="*{email}"></div>

            </div>

            <div  class="css mt-2">
                <label> Member </label>

                <select style="margin-top: 3px; border-radius: 10px" name="type" th:field="*{typeCustomer.id}" class="form-control rounded-3 w-75">

                        <option th:each="list : ${listType}"
                        th:value="${list.id}"
                        th:text="${list.name}">

                        </option>

                </select>

            </div>

            <div  class="css" id="s2" >
                <label> Address </label>
                <input type="text" class="form-control rounded-3 w-75" name="address" placeholder="address" th:field="*{adress}">
            </div>

            <p></p>
            <button type="submit" class="btn btn-primary justify-content-center css mb-2">Submit</button>

        </form>
    </div>

    <div class="col-lg-3 "></div>
</div>


 <footer th:replace="~{home::footer}" class="mt-6"></footer>
<script src="../../js/bootstrap.min.js"></script>
</body>

</html>