<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <table>
     <tr>
        <th>STT</th>
        <th>ID</th>
        <th>NAME</th>
        <th>TYPE</th>
        <th> HAVE </th>
        <th> ACTION </th>
     </tr>
     <tr th:each="books, STT : ${pageBooks}">
         <td th:text="${STT.count}"></td>
         <td th:text="*{books.id}"></td>
         <td th:text="*{books.name}"></td>
         <td th:text="*{books.type}"></td>
         <td th:text="*{books.counts}"></td>
         <td><a th:href="@{/detail/{id}(id=${books.id})}">Details</a></td>
     </tr>
 </table>
<a href="/show">give </a>
</body>
</html>