<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">

<nav th:replace="~{home :: navbarHome}"></nav>

<h2 class="text-lg-center"> DANH SACH KHACH HANG</h2>


 <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

        <table class="table table-striped" id="testTable">
            <thead>
            <tr>
                <th>STT</th>
                <th>ID </th>
                <th> LOAI KHACH </th>
                <th>HO TEN </th>
                <th>NGAY SINH</th>
                <th>GIOI TINH</th>
                <th>SO CMND</th>
                <th>DIEN THOAI </th>
                <th>EMAIL  </th>
                <th> DIA CHI   </th>
                <th> SUA   </th>
                <th> XOA   </th>
            </tr>
            </thead>
            <tbody>

                <tr th:each="page,STT:${pageCustomer}">
                    <td th:text="${STT.count}"></td>
                    <td th:text="${page.id}"></td>
                    <td th:text="${page.typeCustomer.name}"></td>
                    <td th:text="${page.name}"></td>
                    <td th:text="${page.date}"></td>
                    <div th:if="${page.gender == true}">
                        <td>Nam</td>
                    </div>
                    <div th:if="${not page.gender == true}">
                        <td>Nu</td>
                    </div>
                    <td th:text="${page.id}"></td>
                    <td th:text="${page.phone}"></td>
                    <td th:text="${page.email}"></td>
                    <td th:text="${page.adress}"></td>
                    <td><a class="btn btn-primary" th:href="@{/updateCustomer/{id}(id=${page.idCustomer})}">SUA</a></td>
                    <td><a class="btn btn-danger"
                           data-bs-toggle="modal"
                           data-bs-target="#exampleModal1" th:attr= "onclick=|modaldelete('${page.idCustomer}')|">XOA</a></td>
                </tr>
            </tbody>
        </table>

        <form action="/deleteCustomer" id="deletefrom">
            <input hidden name="deleteModal" id="takeId">
        </form>
    </div>
    <div class="col-lg-1"></div>

     ung modal--%>
     <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body">
                     Ban chac chan muon xoa ?
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huy</button>
                     <button type="button" class="btn btn-primary" onclick="submitForm()">Dong Y</button>
                 </div>
             </div>
         </div>
     </div>

</div>
</div>
<script src="../../js/bootstrap.min.js"></script>
<script>

    function modaldelete(idCustomer){
        document.getElementById("takeId").value=idCustomer;
    }
    function submitForm(){
        document.getElementById("deletefrom").submit();
    }

</script>

</script>
</body>
</html>