<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${music}" method="post" action="/add" enctype="multipart/form-data" >
    <label>Name</label>
    <input type="text" th:field="*{name}">
    <label>Singer</label>
    <input type="text" th:field="*{singer}">
    <label> Type</label>
    <input type="text" th:field="*{form}">
    <input  type="file" th:field="*{linkHeard}" >
    <button type="submit">submit</button>
</form>
</body>
</html>