<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Service</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">

    <style>
        .css{
            margin-left: 80px;
            border-radius: 10px;
        }
        body{
            background:#AFEEEE ;
        }
    </style>
</head>
<body >
<nav th:replace="~{home :: navbarHome}"></nav>

<h1 class="text-lg-center"> NEW SERVICE  </h1>

<div class="row container-fluid">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 " >
        <form class="text-dark bg-light" style="box-shadow:  10px 10px 10px black;
         border-radius: 10px" action="/addFromFacility" method="post" th:object="${createFacility}">

            <div class="css">

                <label>  Service </label>
                <select  onchange="addNew(this.value)"  class="form-control rounded-3 w-75" th:field="*{typeService}">
                    <option value="0">Service</option>
                    <option th:each="list : ${typeList}"
                    th:value="${list.id}"
                    th:text="${list.name}">Room</option>

                </select>
            </div>

            <div  class="css">
                <label>Name Service</label>
                <input type="text" class="form-control rounded-3 w-75" name="name" placeholder="Name Service" th:field="*{name}" >

            </div>

            <div  class="css">
                <label>Use Area</label>
                <input type="number" class="form-control rounded-3 w-75"  name="area" placeholder="Use Area" th:field="*{area}">

            </div>

            <div  class="css">
                <label>Cost</label>
                <input type="number" class="form-control rounded-3 w-75" name="cost"  placeholder="Cost"  th:field="*{cost}" >
            </div>

            <div  class="css">
                <label>Max People</label>
                <input type="number"  value=0 class="form-control rounded-3 w-75"  name="people" placeholder=" Max People" th:field="*{people}" >
            </div>

            <div  class="css" >
                <label> Code Type</label>
                <select name="rent" class="form-control rounded-3 w-75" th:field="*{rentType}">
                    <option  value="0"> Pick </option>
                    <option th:each="list : ${rentList}"
                    th:value="${list.id}"
                    th:text="${list.name}"></option>
                </select>
            </div>

            <div  class="css"  id = "div1" style="display: none" >
                <label>Room Standard</label>
                <input type="text"  id = "s1"  value="nomal" class="form-control rounded-3 w-75" name="roomstandar"
                       placeholder="Room Standard" th:field="*{room}">
            </div>

            <div  class="css" id = "div2" style="display: none" >
                <label>Other facilities</label>
                <input type="text"  id="s2" class="form-control rounded-3 w-75" name="anyelse"
                       placeholder="Other facilities" th:field="*{note}">
            </div>

            <div  class="css"  id = "div3" style="display: none"  >
                <label>Pool Area</label>
                <input type="number"  id="s3"  value="0" class="form-control rounded-3 w-75" name="Pool Area"
                       placeholder="Dien Tich Ho Boi" th:field="*{poolArea}">

            </div>

            <div  class="css" id = "div4" style="display: none" >
                <label>Floods</label>
                <input type="number"  id="s4"  value=0 class="form-control rounded-3 w-75" name="Floods"
                       placeholder="Floods" th:field="*{flood}">

            </div>

            <div  class="css" id = "div5" style="display: block" >
                <label>Free Service </label>
                <input type="text" id="s5"  class="form-control rounded-3 w-75" name="freeservice"
                       placeholder="Free Service" th:field="*{free}">
            </div>
            <p></p>
            <button type="submit" class="btn btn-primary text-lg-center css mb-2">Submit</button>

        </form>
    </div>

    <div class="col-lg-3 "></div>
</div>

<footer th:replace="~{home::footer}" class="mt-6"></footer>
<script src="../../js/bootstrap.min.js"></script>
</body>
<script>
    function addNew(value) {

        switch (value){
            case "1":
                document.getElementById("div1").style.display = "block"
                document.getElementById("div2").style.display = "block"
                document.getElementById("div3").style.display = "block"
                document.getElementById("div4").style.display = "block"
                document.getElementById("div5").style.display = "none"
                document.getElementById("s5").value = " "
                break
            case "2":
                document.getElementById("div1").style.display = "block"
                document.getElementById("div2").style.display = "block"
                document.getElementById("div3").style.display = "none"
                document.getElementById("div4").style.display = "block"
                document.getElementById("div5").style.display = "none"
                document.getElementById("s5").value = " "
                document.getElementById("s3").value = 0
                break;
            case "3":
                document.getElementById("div1").style.display = "none"
                document.getElementById("div2").style.display = "none"
                document.getElementById("div3").style.display = "none"
                document.getElementById("div4").style.display = "none"
                document.getElementById("div5").style.display = "block"
                document.getElementById("s1").value = " "
                document.getElementById("s2").value = " "
                document.getElementById("s3").value = 0
                document.getElementById("s4").value = 0
                break;
        }
    }

</script>
</html>