<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{home :: navbarHome}"></nav>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 "  style="margin-top: 100px" >
        <form class="text-dark bg-light justify-content-center align-items-lg-center" style="box-shadow: 10px 10px black; border-radius: 10px; border: 10px" action="" method="post">
            <h5 class="text-lg-center"> THEM MOI NHAN VIEN </h5>
            <div  class="css">
                <label>Ho Ten </label>
                <input type="text" class="form-control rounded-3 w-75"  name="name" placeholder="Ho Ten" ${customerVali.name} >
                ${nameErr}
            </div>
            <div  class="css">

                <label>Ngay Sinh </label>
                <input type="date" class="form-control rounded-3 w-75" name="birth" placeholder="Ngay Sinh" >
                ${birthErr}
            </div>

            <div  class="css">
                <label>CMND</label>
                <input type="text" class="form-control rounded-3 w-75" name="iden" placeholder=" CMND" >
                ${idenErr}
            </div>

            <div  class="css" >
                <label>So Dien Thoai</label>
                <input type="text" class="form-control rounded-3 w-75" name="phone" placeholder="So Dien Thoai">
            </div>
            <div  class="css" >
                <label>Email</label>
                <input type="text" class="form-control rounded-3 w-75" name="email" >
                ${emailErr}
            </div>

            <div  class="css">
                <label> Trinh Do </label>

                <select style="margin-top: 3px; border-radius: 10px" name="type">
                    <c:forEach var="list" items="${listType}">
                        <option value="${list.idType}">   ${list.nameType} </option>
                    </c:forEach>
                </select>

            </div>

            <div  class="css" id="s2">
                <label> Vi tri </label>
                <input type="text" class="form-control rounded-3 w-75" name="address" placeholder="Dia Chi">
            </div>
            <div  class="css" id="s3">
                <label> Luong </label>
                <input type="text" class="form-control rounded-3 w-75" name="address" placeholder="Dia Chi">
            </div>

            <p></p>
            <button type="submit" class="btn btn-primary justify-content-center css">Submit</button>

        </form>
    </div>

    <div class="col-lg-3 "></div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>